Repository astrolabsoftware/fink-client, pull requests merged in 2020-02, with the labels that each got.

#46 Push correct schema for the live ZTF stream
  schemas/distribution_schema_0p2-live.avsc
Labels: schema

#49 Update installation instructions with pip usage
  README.md
  fink_client/scripts/alert_viewer.py
  fink_client/scripts/consumer.py
  setup.py
Labels: setup

#53 Rename consumer.py and alert_viewer.py into their original names
  fink_client/scripts/fink_alert_viewer.py
  fink_client/scripts/fink_consumer.py
  setup.py
Labels: consumer, setup

#51 Update AlertConsumer to display topics and brokers availability
  fink_client/consumer.py
  fink_client/scripts/fink_consumer.py
  tests/test.py
Labels: enhancement
